{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
{% endblock %}

{% block body %}
<div class="s003">
    <div class="search-bar">
        <form action="/newsearch/" , method="GET">
            <input class="search-textbox" id="search" type="text" name="terms" placeholder="Search.." onfocus="this.placeholder = ''"
onblur="this.placeholder = 'Search..'" />
            <button class="search-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="40" height="40"
                    viewBox="-8 -8 40 40" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round"
                    stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <circle cx="10" cy="10" r="7" />
                    <line x1="21" y1="21" x2="15" y2="15" />
                </svg>
            </button>
        </form>
    </div>
</div>
{% endblock %}
