{% extends 'base.html' %}

{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_search.css') }}" />
{% endblock %}

{% block body %}
<div class="searchbar">
    <form action="/newsearch/" , method="GET" style="margin-left: auto; margin-right: auto;">
        <input class="input-field-textbox" id="search" type="text" name="terms" placeholder="Search.." /> 
        <button class="btn-search" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="40" height="40"
                viewBox="-8 -8 40 40" stroke-width="2" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="10" cy="10" r="7" />
                <line x1="21" y1="21" x2="15" y2="15" />
            </svg>
        </button>
    </form>
</div>

<div class="overview">
    <div class="result-header">
        <h1>Search Results</h1>
        {% if results|length < 1 %}
        <h2 class="lead">No results were found for "<strong class="text-danger">{{terms}}</strong>"</h2>
        {% else %}
        <h2 class="lead"><strong class="text-danger">{{results_count}}</strong> results were found for "<strong
                class="text-danger">{{terms}}</strong>"</h2>
        {% endif %}
    </div>

    <div class="grid-container">
        {% for result in results %}
        <div class="card">
            <img class="bg-img" src="{{ url_for('static', filename=result.img_file[9:]) }}" alt="{{result.title}}" />
            <div class="content">
                <h4>{{result.title}}</h4>
                <p>{{result.desc}}</p>
            </div>
            <a class="card-btn" href="{{result.url}}">Recipe</a>
        </div>
        {% endfor %}
    </div>
    
    <div class="btn-container">
        {% if p | int > 1 %}
        <a type="button" class="btn page-btn btn-outline-dark l-btn"
            onclick='location.href="{{ url_for('newsearch', category=category, terms=terms, p=p|int-1) }}"'>Previous Page
        </a>
        {% else %}
        <div></div>
        {% endif %}
        {% if p | int < results_count/12 %}
        <a type="button" class="btn page-btn btn-outline-dark r-btn"
            onclick='location.href="{{ url_for('newsearch', category=category, terms=terms, p=next_page) }}"'>Next Page
        </a>
        {% else %}
        <div></div>
        {% endif %}
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/extention/choices.js') }}"></script>
<script type="text/javascript">
    const choices = new Choices('[data-trigger]',
        {
            searchEnabled: false,
            itemSelectText: '',
        });

</script>
{% endblock %}