{% extends 'base.html' %}

{% block head %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}" />
{% endblock %}

{% block body %}
<div class="container">

    <hgroup class="mb20">
        <h1>Search Results</h1>
        {% if results|length < 1 %}
        <h2 class="lead">No results were found for the search for <strong
                class="text-danger">{{terms}}</strong></h2>
        {% else %}
        <h2 class="lead"><strong class="text-danger">{{results_count}}</strong> results were found for the search for <strong
                class="text-danger">{{terms}}</strong></h2>
        {% endif %}
    </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
        {% for result in results %}
        <article class="search-result row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="#" title="{{result.title}}" class="thumbnail"><img src="http://lorempixel.com/250/140/people"
                        alt="{{result.title}}" /></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
                <ul class="meta-search">
                    <li><i class="glyphicon glyphicon-time"></i> <span>{{result.total_time_minutes}} minutes</span></li>
                    <li><i class="glyphicon glyphicon-tags"></i> <span>{{result.yields}}</span></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                <h3><a href="{{result.url}}" title="">{{result.title}}</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit,
                    distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus
                    doloremque.</p>
            </div>
            <span class="clearfix borda"></span>
        </article>
        {% endfor %}
        
        <div class="container" style="width:max-content;">
            {% if p | int > 1 %}
            <button class="page-btn l-btn" href="{{ url_for('search', category=category, terms=terms, p=p|int-1) }}">Previous Page
            </button>
            {% endif %}
            {% if next_page < results_count/12 %}
            <button class="page-btn r-btn" href="{{ url_for('search', category=category, terms=terms, p=next_page) }}">Next Page
            </button>
            {% endif %}
        </div>
        
    </section>
</div>
{% endblock %}